
   .bannerText{
       text-align: right;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       color:black;
   }
   .bannerTitle {
      font-size: 20rem;
   }
   .bannerDesc{
       font-size: 10rem;
   }
   .card{
       cursor: pointer;
   }
   .card:hover{
       background-color:lightpink;
       border:3px solid lightskyblue;
   }
   .img-fluid:hover{
       border:10px solid blanchedalmond;
   }